# Binaries and executables
**/brokerApp
**/authApp
**/loggerApp
**/frontApp
**/mailApp

# Go specific
*.exe
*.exe~
*.dll
*.so
*.bin
*.dylib
*.test
*.o
*.a
*.out
go.work

# Ignore checksum files
*.sum

# Database volumes
db-data/
postgres-data/
mongo-data/

# Environment files
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Mac specific
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
*.log
logs/

# Temporary files
tmp/
temp/

# Dependencies
vendor/

# Docker specific
.docker/
docker-compose.override.yml

frontApp
brokerApp
authApp
loggerServiceApp
mailerApp
listenerApp